<div *ngIf="loading" style="position: fixed; width: 100%; height: 100% ; background-color: rgba(0, 0, 0, .4); top: 0 ; left: 0; z-index: 99;">
    <app-loader style="
position: fixed;
z-index: 9999;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
"></app-loader>

</div>

<form class="example-container" [formGroup]="form" (submit)="submit()">
    <mat-form-field appearance="outline">
        <mat-label>Poids (G)</mat-label>
        <input formControlName="poids" matInput>
        <mat-error>
            Ce champ est
            <strong>Requise!</strong>
        </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Carat</mat-label>

        <mat-select formControlName="carat" required>
            <mat-option #marque *ngFor="let k of karates" [value]="k"> {{k}} K</mat-option>

        </mat-select>
    </mat-form-field>




    <button type="submit" mat-raised-button>Valider</button>
</form>